* {
    padding: 0;
    margin: 0;
}

// Display in IE6-9 and FF3
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    background: #fff;
    color: #000;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// TYPOGRAPHY -----------------------------------------------------------------

h1,h2,h3,h4,h5,h6 { 
    font-weight: 900;
    line-height: 1.33em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.66em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.66em;
}

h5 {
    font-size: 1.33em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1.2em;
    line-height: 1.33em;
}

ul, ol {
    list-style: none;
}

strong {
    font-weight: 900;
}

em {
    font-style: italic;
}

// OTHER ----------------------------------------------------------------------

a {
    color: #000;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
    outline: 0;
}

img {
    border: 0;

    // Responsive
    max-width: 100%; 
    height: auto;
}
